name: pynl
channels:
  - conda-forge
dependencies:
  - ipykernel
  - ipympl
  - jpype1
  - matplotlib
  - networkx
  - numpy
  - pandas
  - scipy
  - pip:
    - mpmath==1.3.0
    - powerlaw==1.5
    - pynetlogo==0.5.2
    - tqdm==4.67.1

prefix: "/home/daniele/.local/share/mamba/envs/pynl"
